


@media only screen and (max-width: 1199px) {

    /* navbar toggle */ 
    .navbar-toggle {
        margin: 0;
        display: block;
        border: 0;
        background-color: #fff;
        padding: 5px 15px;
        transition: all .3s ease;
        border-radius: 0;
        font-size: 1.3rem;
        color: $primary;
    }

    .navbar-collapse {

        &.collapse {
            display: none !important;

            &.in {
                display: block !important;
            }
        }
    }

    .sidr {
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 999999;
        position: fixed;
        max-width: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff;
        -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

        &.right {
            left: auto;
            right: -100%;
        }

        &.left {
            left: -100%;
            right: auto;
        }
    }
    /* Sidr Menu */
    .sidr-inner {

        .closeMenu {
            font-size: 2rem;
            color: #fff;
            padding: 5px 15px;
            background-color: $primary;
            cursor: pointer;
            margin: 0 0 15px;
            display: inline-block !important;
            transition: all .3s ease;

            &:hover, &:focus {
                background: $primary;
                color: white;
                border-color: $primary;
            }
        }

        .nav {

            &.navbar-nav {
                float: none !important;
                margin: 0;

                li {
                    float: none;
                    border-bottom: 1px solid #ECECEC; 

                    a {
                        font-weight: 700;
                        font-family: $din;
                        color: #061c55;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        transition: all .3s ease;
                        @include em(16px, 0, 24px);
                        padding-left: 0;

                        &:hover, &:focus {
                            background-color: transparent;
                        }
                    }

                    &.dropdown {

                        >a {
                            position: relative;

                            &:after {
                                color: #061c55;
                                content: "\f107";
                                position: absolute;
                                font-size: 1.3rem;
                                right: 20px;
                                color: $primary;
                                font-family: "Font Awesome 5 free";
                                font-weight: 900; 
                                line-height: inherit;
                                top: calc(50% - 15px);
                            }
                        }
                    }

                    &.open {

                        a {
                            color: $primary;
                            background-color: #ddd;
                        }

                            .dropdown-menu {
                                position: inherit;
                                background-color: transparent;
                                box-shadow: none;
                                border: 0;
                                float: none;
                                min-width: auto;
                                padding: 2px 0 0;
                                box-shadow: none;

                            li {
                                border: 0;

                            a {
                                text-shadow: none;
                                padding-left: 40px;
                                @include em(14px, 0, 20px);
                            }

                            &.active {

                                a {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .login.hidden {
            display: block !important;

            .btn {
                height: 50px;
                border-radius: 0;
                max-width: 100%;

                span {
                    margin-right: 15px;
                }
            }
        }
    }

    /* Widgets Design */
    .widget {
        padding: 0;

        .widget-title {
            @include em(24px, -50, 30px);
            margin: 0 0 15px;
        }

        p {
            @include em(20px, -50, 30px);
        }

        .navbar-nav {

            li {

                a {
                    @include em(20px, -50, 30px);
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .solution {
        padding: 60px 0;
    }
    .service-home {

        .service-title {
            padding: 60px 0;

            h2 {
                font-size: 6rem;
            }
        }

        .service-details {
            margin-top: -500px;

            .service-detail {
                display: inherit;

                .media {
                    width: 100%;
                }

                .content {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .page-banner {
        padding: 85px 0;

        .page-title {
            font-size: 5.5rem;
        }
    }

    .contact-information {
        padding: 45px 0;

        h1 {
            font-size: 3rem;
            padding-bottom: 30px;
        }
    }

    .about {
        padding: 65px 0;

        h1 {
            padding-bottom: 30px;
            font-size: 3.65rem;
        }

        .about-content {
            padding-top: 45px;
        }
    }

    .service-list {

        .align-center {
            display: inherit;

            .col-sm-12 {
                text-align: center;
            }
        }

        .media {
            display: inline-block;

            img {
                width: auto;
            }
        }
    }

    .solution {

        .company-designation {

            h4 {
                text-align: center;
            }

            .company-content {

                p {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .contact-area {
        padding: 60px 0;
    }

    .contact-form {
        padding: 30px;

        .gform_heading {
            margin-bottom: 35px!important;

            .gform_title {
                font-size: 2rem;
            }
        }
    }

    .testimonial {
        padding: 55px 0; 

        .testimonial-slider {

            .testimonial-content {

                h1 {
                    font-size: 2.75rem;
                }
            }
        }
    }  

    .service-list {

        .align-center {
            padding-bottom: 0;
            padding-top: 0;
        }

        .service-content {
            text-align: left;

            h1 {
                font-size: 2.75rem;
                margin-bottom: 20px;
            }
        }
    }

    .clients {

        .client-title {
            padding-bottom: 25px;
        }

        p {
            padding-top: 35px;
        }
    }

    .footer {

        .footer-wrapper {

            .align-center {
                display: inherit;
            }

            .footer-logo {

                img {
                    bottom: 0;
                }
            }

            .contact-info {
                padding-top: 20px;

                .info-item {

                    &+.info-item {
                        margin-top: 20px;
                    }
                }
            }

            .copy-right {
                text-align: left !important;
            }
        }
    }

    .widget {
        text-align: center !important;

        p {
            margin: 0;
        }

        .navbar-nav {

            li {

                a {
                    text-align: center !important;
                }
            }
        }

        &.middle-widget {
            padding: 20px 0;
            margin: 20px 0;
            border-top: 3px dashed #fff;
            border-bottom: 3px dashed #fff;
        }

        &.widget_nav_menu {

            ul {

                li {

                    a {
                        font-size: 1rem;
                        line-height: 1;
                        padding-bottom: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {

    .page-banner {
        padding: 65px 0;

        .page-title {
            font-size: 3.5rem;
        }
    }

    .about {
        padding: 35px 0;

        h1 {
            padding-bottom: 15px;
        }

        .about-content {
            padding-top: 30px;
        }
    }
    
    .solution {
        padding: 45px 0 0;

        .solution-content {
            padding: 30px 0px;

            .border {
                padding-bottom: 30px;
            }

            h1 {
                margin-bottom: 20px;
                padding-bottom: 20px;
                font-size: 2.5rem;
            }
        }

        .company-designation {

            .company-content {
                padding: 20px 15px;

                p {

                    &+p {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .service-home {

        .service-title {

            h2 {
                font-size: 3rem;
            }
        }

        .service-details {
            margin-top: -550px;

            h2 {
                font-size: 2rem;
            }

            .service-detail {

                .content {
                    padding: 30px;  
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .contact-area {
        padding: 45px 0 0;

        .contact-information {

            .info-list {
                display: inherit;

                a {
                    display: block;
                    margin: 10px 0 0;
                }
            }
        }
    }

    .service-list {

        .service-content {

            h1 {
                font-size: 2rem;
            }
        }
    }

    .service-list {

        .service-content {

            ul {

                &.column {
                    column-count: 1;

                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .btn {
        font-size: .85rem;
        padding: 12px;
        padding-right: 44px;

        .triangle {
            width: 44px;
        }
    }
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 1rem;
        line-height: 1;
    }
    .contact-area {

        .contact-information {

            .info-list {

                span {
                    height: 40px;
                    width: 40px;
                    line-height: 30px;
                }

                a {
                    font-size: 1rem;
                }
            }
        }
    }

    .footer {

        .footer-wrapper {

            .contact-info {

                .info-item {

                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 320px) {
    .page-banner {
        padding: 60px 0;

        .page-title {
            font-size: 2.3rem;
        }
    }
}
